<!DOCTYPE html>
<html>
    <head>
        <title>Vue JS</title>
        <script src="https://unpkg.com/vue"></script>
    </head>

    <body>

    <h3> Vue JS </h3>

        <h4> Data Binding </h4>
        <div id="root">

            <p> <input type="text" id="input" v-model="message"> --  The message is : {{message}}  </p>
            <p> Item is : {{item}}</p>
        </div>
        <p> -----------------------</p>

        <h4> Arrays </h4>
        <div id="array">
            <p> Using template {{ }}</p>
            <ul>
                <li v-for="name in names">
                        {{name}}
                </li>
            </ul>

            <p> Using v-text<p>
                <ul >
                    <li v-for="name in names" v-text="name">
                        </li> 
                    <ul>

                        <input type="text">
                        <button id="button">Add Name</button>

  

        </div>
        <p> -----------------------</p>

        <script>
            

            var app_1 =  new Vue({
                 el: '#root',
                 data : {
                     message: 'Hello World from Tej : Dynamic',
                     item: "banana : Static"
                    }
             })

            var app_2 =   new Vue({
                 el: '#array',
                 data : {
                    names: ['john', 'rebecca', 'jack']
                    }
             })
             </script>

    </body>
</html>